<?xml version="1.0" encoding="UTF-8"?>
<!--日誌等級以及優先排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
<!--Configuration後面的status，這個用來設定log4j2自身內部的資訊輸出，可以不設置，當設定成trace時，你會看到log4j2內部各種詳細輸出 -->
<!--monitorInterval：Log4j能夠自動偵測修改設定檔和重新配置本身，設定間隔秒數 -->
<configuration status="WARN" monitorInterval="30">

	<properties>
		<property name="LOG_HOME">${sys:user.home}</property>
		<property name="pattern">[%d{HH:mm:ss:SSS}] [%-5p] - %l - %m%n
		</property>
		<property name="console_pattern">
			%style{%d{ISO8601}}{bright,green}
			%highlight{%-5p} [%style{%t}{bright,blue}]
			%style{%l}{bright,yellow}:
			%m%n %style{%throwable}{red}
		</property>
	</properties>

	<!--先定義所有的appender -->
	<appenders>
		<!--這個輸出控制台的設定 -->
		<console name="Console" target="SYSTEM_OUT">
			<!--輸出日誌的格式 -->
			<PatternLayout pattern="${console_pattern}" />
		</console>
		<!--檔案會印出所有訊息，這個log每次執行程式會自動清空，由append屬性決定，這個也挺有用的，適合臨時測試用 -->
		<File name="log" fileName="${LOG_HOME}/logs/test.log"
			append="false">
			<PatternLayout pattern="${pattern}" />
		</File>
		<!-- 這個會印出所有的info及以下級別的信息，每次大小超過size，則這size大小的日誌會自動存入按年份-月份建立的文件夾下面並進行壓縮，作為存檔 -->
		<RollingFile name="RollingFileInfo"
			fileName="${LOG_HOME}/logs/info.log"
			filePattern="${LOG_HOME}/logs/$${date:yyyy-MM}/info-%d{yyyy-MM-dd}-%i.log">
			<!--控制台只輸出level及以上等級的資訊（onMatch），其他的直接拒絕（onMismatch） -->
			<ThresholdFilter level="info" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern="${pattern}" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
		</RollingFile>
		<RollingFile name="RollingFileWarn"
			fileName="${LOG_HOME}/logs/warn.log"
			filePattern="${LOG_HOME}/logs/$${date:yyyy-MM}/warn-%d{yyyy-MM-dd}-%i.log">
			<ThresholdFilter level="warn" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern="${pattern}" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<!-- DefaultRolloverStrategy屬性如不設置，則預設為最多同一資料夾下7個文件，這裡設置了20 -->
			<DefaultRolloverStrategy max="20" />
		</RollingFile>
		<RollingFile name="RollingFileError"
			fileName="${LOG_HOME}/logs/error.log"
			filePattern="${LOG_HOME}/logs/$${date:yyyy-MM}/error-%d{yyyy-MM-dd}-%i.log">
			<ThresholdFilter level="error" onMatch="ACCEPT"
				onMismatch="DENY" />
			<PatternLayout pattern="${pattern}" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
		</RollingFile>
	</appenders>
	<!--然後定義logger，只有定義了logger並引入的appender，appender才會生效 -->
	<loggers>
		<!--過濾掉spring一些無用的DEBUG資訊 -->
		<logger name="org.springframework" level="INFO"></logger>
		<root level="all">
			<appender-ref ref="Console" />
			<appender-ref ref="log" />
			<appender-ref ref="RollingFileInfo" />
			<appender-ref ref="RollingFileWarn" />
			<appender-ref ref="RollingFileError" />
		</root>
	</loggers>
</configuration>