/* 通用 */

.container {
	/*min-height: 480px;*/
	padding: 0;
	margin: 0 auto;
	border-radius: .5rem;
	box-shadow: .3rem .3rem .7rem rgba(0, 0, 0, .2);
	position: relative;
}

/* 新增的 CSS 樣式，用於預覽圓形大頭貼 */
#imagePreview {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 10px;
}

#imagePreview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-sm {
    float: right;
    border: none;
}

/* 手機版 */
.container {
	width: 100%;	
}

/* 網頁版 */
@media(min-width: 768px) {
	.container {
		width: 60%;
	}
}