/* 通用 */

#code{
	width: 65%!important;
}

button.ghost {
	background-color: transparent;
	border-color: white;
}


/* 手機版 */

.container {
	width: 60%;
	min-height: 480px;
	padding: 0;
	margin: 0 auto;
	border-radius: .5rem;
	box-shadow: .3rem .3rem .7rem rgba(0, 0, 0, .2);
	position: relative;
}

.overlay{
	background-color: var(--bs-c-primary);
	position: absolute;
	right: 0;
	border-radius: 0 .5rem .5rem 0;
	
}


.move-to-left{
	border-radius: .5rem 0 0 .5rem!important;
	transform: translateX(-100%);
	transition: .6s;
}

/* 網頁版 */
@media(min-width: 768px) {

}