/* 通用 */

.nav1{
	background-color: var(--bs-c-primary-l);
    border-radius: 1.5rem;
	border: 1px solid white;
}

.nav1 a{
	color: var(--bs-c-primary)!important;
}

.dashboard {
    position: relative;
    background-color: white;
    border-radius: .8rem;
    box-shadow: .3rem .3rem .7rem rgba(0, 0, 0, .1);
}

.item {
    display: flex;
    align-items: center;
}

.img {
	border-radius: .8rem;
    box-shadow: .3rem .3rem .7rem rgba(0, 0, 0, .1);
    transform: translateX(-2.5rem);
    overflow: hidden;
}

img {
	border-radius: .8rem;
}

.available-btn, .reserved-btn{
    text-align: center;
    width: 5rem;
    margin: .25rem;
    border-radius: 1.5rem;
	padding: .3rem .8rem;
}

.reserved-btn{
    background-color: var(--bs-c-gray);
    border: 1px solid var(--bs-c-gray);
}


/* 手機版 */
.item {
    flex-direction: column;
}

.img {
    display: none;
}


/* 網頁版 */
@media (min-width: 768px) {
.item{
    flex-direction: row;
}

    .img{
        display: block;
        width: 120px;
        height: 120px;
    }
    
    .content {
        padding-right: 2rem;
    }

}