<?xml version="1.0" encoding="UTF-8"?>
<!--
    Web應用程式配置文件，用於定義應用程式的基本屬性、環境資源和行為。
-->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <!-- 應用程式顯示名稱 -->
  <display-name>PianoRoom</display-name>
  <!-- 歡迎頁面配置 -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  
  <!-- 環境資源設置 -->
  	<!-- 存放 AES Key的環境變數 -->
	<env-entry>
  		<env-entry-name>secretKey</env-entry-name>
  		<env-entry-type>java.lang.String</env-entry-type>
  		<env-entry-value>a1b2c3d4e5f6g7h88h7g6f5e4d3c2b1a</env-entry-value>
  	</env-entry>
  
  <!-- 設定 session timeout 過期時間 -->
  	<session-config>
  		<session-timeout>30</session-timeout>
  	</session-config>
  
  <!-- 中文編碼支援 -->
	<filter>
		<filter-name>springUtf8Encoding</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
    
    <filter-mapping>
        <filter-name>springUtf8Encoding</filter-name>
        <url-pattern>/mvc/*</url-pattern>
    </filter-mapping>
  
  <!-- 部署 DispatcherServlet - XML 配置版 -->
	<servlet>
		<servlet-name>springmvc</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/springmvc-servlet.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>springmvc</servlet-name>
		<url-pattern>/mvc/*</url-pattern>
	</servlet-mapping>
	
	<!-- HiddenHttpMethodFilter -->
	<filter>
        <filter-name>HiddenHttpMethodFilter</filter-name>
        <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>HiddenHttpMethodFilter</filter-name>
        <url-pattern>/mvc/*</url-pattern>
    </filter-mapping>

	<!-- 全網加密-->
    <security-constraint>
		<display-name>Constraint1</display-name>
		<web-resource-collection>
			<web-resource-name>secure</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint>
	
	 
</web-app>